.p-6{
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 36%;
    
}
.collapse{
    font-size: larger;
    font-weight: 400;
}
.card{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 1%;
    padding-bottom: 1%;
}

body,.navbar,.card{
    background: url(../image/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
body,.navbar,.card{
    font-family: 'Albert Sans', sans-serif;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-family: 'Josefin Slab', serif;
    font-size: large;
    font-weight: 900;
    size: 60px;
}
.aboutusdesc{
    color: rgb(0, 0, 0);
    padding: 2%;
    margin: 1%;
}
/* .main-scroll-div{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    scroll-behavior: smooth;
    padding-left: 10%;
    padding-right: 4%;
}
.cover{
    position: relative ;
    width: 90%;
    height: 50%;
    
}
.cover::before{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    z-index: 99;
    -ms-hyphenate-limit-zone: 100%;
    width: 150px;
    background-image: linear-gradient(90deg, black, transparent);
}
.cover::after{
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: 99;
    -ms-hyphenate-limit-zone: 100%;
    width: 150px;
    background-image: linear-gradient(-90deg, black, transparent);
}
.scroll-images{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;
}
.child{
    min-width: 700px;
    height: 340px;
    margin:  1px 10px;
    cursor: pointer;
    border: 1px solid white;
    overflow: hidden;
    border-radius: 4%;
}
.scroll-images::-webkit-scrollbar{
    -webkit-appearance: none;
}
.child-img{
    width: 100%;
    height: 100%;
}
.card-title{
    font-weight: bolder;
}
.icon{
    color: rgb(214, 90, 90);
    background-color: black;
    font-size: 50px;
    outline: none;
    border: none;
    padding-left: 10px;
    padding-right: 10%;
    cursor: pointer;
} */
/* .icon:hover{
    color: darkturquoise;
} */

.slider-frame{
    overflow: hidden;
    height: 600px;
    width: 1200px;
    margin-left: 180px;
    margin-bottom: 20px;
}
/* To add more pics to the slideshow, add +1200px width to .slide-images for every picture and change the slide_animation percentage values around so you have -1200 per image.

pic nr 4 will be placed at -1200px and needs 4800 slide-images width and 5 will be placed at -2400px and needs 6000 slide-images width and so on!  */
@-webkit-keyframes slide_animation{
    0% {left:0px;}
    10% {left:0px;}
    20% {left:1200px;}
    30% {left:1200px;}
    40% {left:2400px;}
    50% {left:2400px;}
    60% {left:1200px;}
    70% {left:1200px;}
    80% {left:0px;}
    90% {left:0px;}
    100% {left:0px;}
}
.slide-images{
    width: 3600px; /*add 1200 px with every image*/
    height: 600px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation ;
    -webkit-animation-duration: 33s ;
    -webkit-animation-iteration-count: infinite ;
    -webkit-animation-direction: alternate ;
    -webkit-animation-play-state: running ;

}
.img-container{
    height: 600px;
    width: 1200px;
    position: relative;
    float: left;
}



h4{
    padding-top: 2%;
}
.upperbody h1{
    color: white;
    text-align: calc(4);
}
.welcome, .last{
    text-align: center;
    font-family: 'Albert Sans', sans-serif;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-family: 'Josefin Slab', serif;
    font-weight: 900;
    /* font-family: 'Times New Roman', Times, serif; */
    padding-top: 2%;
    padding-bottom: 2%; 
}
.onlyweb{
    font-weight: 600;
    
}
.footerclient{
    display: flex;
    justify-content: space-around;
    
}
.webimage{
    float: right;    
    padding-left: 2% ;
    padding-right: 2% ;
    padding-bottom: 2% ;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgba(62, 61, 61, 0.922);
    color: aliceblue;
    padding: 3% 3% 3% 3%;
    /* justify-content: center; */
}
.footerleft a {
    text-decoration: none;
    color: aliceblue;
}
.footerlast{
    background-color: rgb(36, 36, 36);
    color: aliceblue;
    padding: 1%;
    
}
.footersvg{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.footerlast p{
    font-family: 'Josefin Slab', serif;
}



@media only screen and (max-width: 991px){
    .p-6{
        padding-left: 0%;
    }
    .card{
        flex-direction: column;
        padding: 5% 5% 5% 5%;
    }
}