
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
    background: rgb(240, 242, 244);      
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  height:100vh;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media only screen and (max-width: 700px) {
  .container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.panel-container {
  background-color: #12192c;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-width: 600px;
  color:#4e54c8;
  margin:20% auto 2% auto;
}
.panel-container1 {
  /* background-color: #12192c; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  border-radius: 15px;
  font-size: 90%;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding: 30px; */
  max-width: 600px;
  color:#4e54c8;
  margin:10% 0% 2% auto;
}

.panel-container strong {
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 30px 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 8px;
}

.rating:hover,
.rating.active {
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.rating img {
  width: 40px;
}

.rating small {
  color: #fff;
  display: inline-block;
  margin: 10px 0 0;
}

.rating:hover small,
.rating.active small {
  color: #8f94fb;
}

.btn {
  background-color: #8f94fb;
  color: #000;
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}


.credit a{
    text-decoration: none;
    color: #fff;
  }

  .credit {
      text-align: center;
  }

