<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="css/query.css">
            <title>Admin Panel</title>
        </head>
        <body>
            <div class="container">
                <h2>Admin Panel</h2>
                <h2>Select u_id</h2>
        
                <div class="dropdown">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
                </div>
        
                <h2>Select e_id</h2>
        
                <form action="/adminpanel" method="get" class="input">
                    <h2>Questions</h2>
                        <ul>
                            <% questions.forEach(function(question) { %>
                            <li>Number: <%= question.id %> <br/> Text: <%= question.quesStatement %></li>
                            <% }); %>
                        </ul>
                
                    <label for=""><b>Enter the date when his task was completed.</label><br></b>
                    <input type="date" name="end_date" id="end_date" required><br>
                </form>

            </div>
        </body>
        </html>