<!DOCTYPE html>
<html>
<head>
<title>how to fetch data from database in node js and display in html</title>
</head>
<body>  
  
  <form action="/afteradminpanel" method="get">
    <label for="e_id">Choose:</label><br>
    <label for="e_id">Engineer id, Enginner name, Engineer email, Product Name, Query id, User id:</label><br>
    <select name="e_id" id="e_id">
      <% for (var i =0; i < (name1.toString().length) ;  i++ ) { %>
        <option>
        <br/>  <%- name1[i] %> 
        <% } %>
        </option>
    </select><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>