<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@1,500&family=Edu+NSW+ACT+Foundation:wght@600&family=Josefin+Slab:ital,wght@1,300&display=swap" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@1,500&family=Edu+NSW+ACT+Foundation:wght@600&family=IBM+Plex+Sans+KR:wght@700&family=Josefin+Slab:ital,wght@1,300&display=swap" rel="stylesheet">
    <title>Signup</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light p-6 ">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-dark" aria-current="page" href="/"><b>Home</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-dark" href="../component/aboutUs.html"><b>About US</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-dark" aria-current="page" href="../component/carrers.html"><b>Careers</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-dark" aria-current="page" href="../component/ourServices.html"><b>Our Services</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-dark" aria-current="page" href="../component/contactUs.html"><b>Contact Us</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-dark" aria-current="page" href="../component/ourPartners.html"><b>Our Partners</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-dark" aria-current="page" href="../usersignup"><b>Raise Query</b></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active text-dark" aria-current="page" href="./adminsignin"><b>Admin Panel</b></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      <!-- <div class="main-scroll-div">
        <div>
          <button class="icon" onclick="scrolll()"> < <i class="fas fa-angle-double-left"></i></button>
        </div>
        <div class="cover">
          <div class="scroll-images">
            <div class="child"><img src="./image/servermaintenance.jpg" class="card-img-top" alt="#"></div>
            <div class="child"><img src="./image/pcmaintain.jpg" class="card-img-top" alt="#"  ></div>
            <div class="child"><img src="./image/sellproduct.jpg" class="card-img-top" alt="#"  ></div>
          </div>
        </div>
        <div>
          <button class="icon" onclick="scrollr()"> > <i class="fas fa-angle-double-left"></i></button>
        </div>
      </div> -->

      <div class="slider-frame">
        <!-- <div class="slide-images">
          <div class="img-container">
            <img src="../image/servermaintenance.jpg" class="card-img-top" alt="#">
          </div>
          <div class="img-container"> -->
            <img src="../image/pcmaintain.jpg" class="card-img-top" alt="#">
          <!-- </div>
          <div class="img-container">
            <img src="../image/sellproduct.jpg" class="card-img-top" alt="#">
          </div>
        </div> -->
      </div>

      <div class="aboutusdesc">
        Globe Computers & Solutions is one of the best IT service provider. Information Technology being the service industry. we have been providing services since year 2001. We have a team of well qualified technical and Comercial professional to cater not only the customers’ requirement but to their total satisfaction too.

        We are already providing services to many corporate, government and education institutes. Considering Banking and Education segment as our top priority clientile, we have undergone several computerization projects and maintaining the at the top satisfactory level of the customer.

        We provide Annual Maintenance of Branded / Assembled Server, PCs, and Various categories of Printers, Switches, Routers & UPS. We also sell quality products of HP, Canon, APC, Samsung, Lenovo, Microsoft, PCs, Peripherals and Consumables products all over Rajasthan.

        Our Major Clients are Airport Jaipur, North Western Railway, BSNL Commisioner of Rajasthan Police HQ, India Post, and Department of Personnel, Rajasthan State Co-op Bank, Nabard Bank.

        Before undertaken in AMc all computers & printers, fax machine, xerox machine should be working condition. Consumables items are not cover in AMC. Consumable items such as ribbon, printer head, floppies, CDs, ink jacket, fuser assembly, Teflon paper, UPS & laptop battery, toners, drum computer stationery etc.

        We have a vast range of services and also capable of delivering, apart from regular,  annual maintenance contract for computer systems and other peripherals.
        
      </div>
    <h1 class="last">SOME OF OUR CLIENTS</h1>
      
      <marquee class="footerclient" behavior="scroll" direction="left" scrollamount="15" >
        <img src="../image/raj-police-img1598857085645-61.jpg-rs-high-webp.jpg" width="250" height="200" >
        
        <img src="../image/dddd.webp" width="200" height="200">
        
        <img src="../image/75315280.webp" width="200" height="200">
        
        <img src="../image/713Xwx9Bs9L.png" width="200" height="200">
        
        <img src="../image/1519892689925.jfif" width="200" height="200">
      </marquee>
    <div class="footer">
      <div class="footerleft">
        <h5>IMPORTANT LINKS</h5>
        <a href="../index.html">Home</a><br>
        <a href="../component/aboutUs.html">About Us</a><br>
        <a href="">Our Service</a><br>
        <a href="">Carrers</a><br>
        <a href="">Our Partners</a><br>
        <a href="">Contact Us</a><br>
        <a href="../addquery.html">Raise Query</a><br>
        <a href="">Admin Panel</a><br>
      </div>
      <div class="footermid">
        <h5>ABOUT US</h5>
        <p>Globe Computers & Solutions is one of the best IT<br> service provider. Information Technology being <br>the service industry. We have a team of well<br> qualified technical and Comercial professional to<br> cater not only the customers’ requirement but to<br> their total satisfaction too.</p>
      </div>
      <div class="footerright">
        <h5>CONTACT INFO</h5>
        <p><b>Address :</b> F-10, 1st Floor, Shrinath Tower, Central Spine,<br> Vidhyadhar Nagar, Jaipur - 302039<br>
          <b>Mob :</b> +91-9314042566<br>
          <b>Telefax :</b> +91-141-2235514<br>
          <b>Sales Email :</b> sales@globecs.in<br>
          <b>Support Email :</b> support@globecs.in</p>
      </div>      
    </div>
    <div class="footerlast">
      <p>© Copyright - Globe Computers and Solutions - All Rights Reserved - Design By: Shubham Sharma<br>All trademarks, service marks, trade names, trade dress, product names and logos appearing on the site are the property of their respective owners.</p>
      <div class="footersvg">
        <img  src="./image/icons8-facebook-48.svg" alt="">
        <img  src="./image/icons8-instagram-48.svg" alt="">
        <img src="./image/icons8-twitter-48.svg" alt="">
      </div>
      
    </div>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
<script>
  function scrolll(){
    var left = document.querySelector(".scroll-images");
    left.scrollBy(-350,0)
  }
  function scrollr(){
    var right = document.querySelector(".scroll-images");
    right.scrollBy(350,0)
  }
  
</script>
</html>